/* Fondo general */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor del formulario */
.form-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

/* Título */
.formulario h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Etiquetas */
.formulario label {
  display: block;
  font-weight: 500;
  color: #444;
  margin-bottom: 5px;
}

/* Inputs y textarea */
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.4);
}

.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 15px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.formulario select:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.4);
}


/* Botón */
.formulario button {
  width: 100%;
  padding: 12px;
  background-color: #667eea;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.formulario button:hover {
  background-color: #5a67d8;
}

